

.site-content .col-container {padding-top: 3.77rem !important;}

.f1-title {margin-bottom: 1.63rem !important;}

.link-list-item-2 {list-style-type: none;padding-top: 0.4rem;}

button, h1, h2, h3 {
    text-rendering: optimizeLegibility;
}

.ko-buttontemplate {
   display: inline-block;
   vertical-align: middle;
   line-height: 0;
   padding: 0;
   padding-right: 0px;
   padding-right: 5px;
   border-bottom: none;
   line-height: 0;
}
/*
.button button.small .text {
    margin-top: 1px;
}
*/
button button.small .text {
    display: inline-block;
    padding-bottom: 2px;
}

.button button .text {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
}

.button button.black.small {
    background-position: 0 -245px;
}
.button button.black {
    text-shadow: 0 1px 0 rgba(0,0,0,.6);
}

.button button {
    font-weight: 500 !important;
}

.button button {
    cursor: pointer;
    border: none;
    position: relative;
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    font-weight: 700;
    color: #fff;
    background-color: transparent;
    background-image: url(/img/button.png?v=1);
    background-repeat: no-repeat;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    overflow: visible;
    outline: none;
}

.button button.small {
    min-height: 22px;
    font-size: 11.5px;
    letter-spacing: 0.01rem;
    padding-left: 32px;
    padding-right: 2px;
    padding-top: 0;
    padding-bottom: 1px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.button button.black.small .cap {
    background-position: 100% -245px;
    background-position-x: 100%;
    background-position-y: -245px;
}

.button button .cap {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -6px;
    width: 7px;
    height: 100%;
    z-index: 4;
    background-color: transparent;
    background-image: url(/img/button.png?v=1);
    background-repeat: no-repeat;
}

.button {
    box-sizing: border-box;
}

.overlay.open {
    opacity: 1;
}

.overlay {
    font-family: Helvetica Neue,Arial,Helvetica,sans-serif;
    cursor: default;
}

.overlay.animatable {
    transition: opacity .25s ease;
}

.overlay {
    -webkit-transform: none;
    transform: none;
}
.overlay {
    font-family: Helvetica Neue,Arial,Helvetica,sans-serif;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.35);
    background: radial-gradient(50% 50%,rgba(0,0,0,.2),rgba(0,0,0,.5) 100%);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    overflow: auto;
    overflow-x: auto;
    overflow-x: hidden;
    cursor: default;
    -webkit-perspective: 3000;
    perspective: 3000;
    z-index: 9999;
    opacity: 1; // used to make modal visible
}

.vertically-centered-container {
    display: table-cell;
    vertical-align: middle;
}

.static-container {
    position: static;
    display: table;
    height: 100%;
    width: 359px;
    margin: 0 auto;
}

.overlay.open .modal {
    -webkit-animation: a 1s ease;
    animation: a 1s ease;
}

.modal {
    line-height: 1.5;
}

.modal {
    width: 359px;
    position: relative;
    z-index: 6;
    border-radius: 6px;
    padding: 1px;
    background-color: #b0b0b0;
    background: linear-gradient(rgba(0,0,0,.25),rgba(0,0,0,.55));
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    line-height: 1.5;
}

.modal > .inner {
    padding: 18px 26px;
        padding-bottom: 18px;
    padding-bottom: 18px;
    padding-bottom: 23px;
    background-color: #fcfcfc;
    border-radius: 5px;
    box-shadow: inset 0 -2px 2px rgba(0,0,0,.15),inset 0 2px 2px #fff,inset -1px 0 2px rgba(0,0,0,.05),inset 1px 0 2px rgba(0,0,0,.05);
}

.container, .container *, .modal, .modal * {
    box-sizing: border-box;
}

.container h1, .modal h1 {
    font-size: 18px;
    padding: 0;
    padding-bottom: 0px;
    margin: 0;
    line-height: 1.3;
    padding-bottom: 5px;
}

.container h2, .modal h2 {
    font-size: 13px;
    font-weight: 500;
    padding: 0;
    padding-bottom: 0px;
    margin: 0;
    margin-top: 0px;
    padding-bottom: 10px;
    color: #666;
    margin-top: 1px;
}

.container *, .modal, .modal * {
    box-sizing: border-box;
}

button, h1, h2, h3 {
    text-rendering: optimizeLegibility;
}


.modal.small input[type="email"] {
    width: 100%;
    font-size: 15px;
    background-color: #fff;
    border: 1px solid #d3d3d3;
        border-top-color: rgb(211, 211, 211);
        border-right-color: rgb(211, 211, 211);
        border-bottom-color: rgb(211, 211, 211);
        border-left-color: rgb(211, 211, 211);
    border-top-color: #c9c9c9;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 1px 1px hsla(0,0%,100%,.45),0 0 2px rgba(74,139,217,0),0 -1px 0 rgba(0,0,0,.02),inset 0 1px 0 rgba(0,0,0,.04),inset 0 2px 0 rgba(0,0,0,.02),inset 1px 0 0 rgba(0,0,0,.04),inset -1px 0 0 rgba(0,0,0,.04);
    transition: border-color .3s ease;
        transition-duration: 0.3s;
    -webkit-appearance: none;
}

.modal.small input[type="email"]:focus {
    border-color: #aec7df;
    outline: none;
    box-shadow: 0 1px 1px hsla(0,0%,100%,.45),0 0 2px rgba(74,139,217,.3),inset 0 1px 0 rgba(0,0,0,.04),inset 0 2px 0 rgba(0,0,0,.02),inset 1px 0 0 rgba(0,0,0,.04),inset -1px 0 0 rgba(0,0,0,.04);
    transition-duration: .05s;
}


.overlay.open .modal {
    -webkit-animation: a 1s ease;
    animation: a 1s ease;
}

.modal.small button {
    width: 100%;
}

.modal p {
    margin: 0;
    margin-top: 0px;
    padding: 0;
    margin-top: 9px;
    position: relative;
}

.modal button {
    font-size: 17px;
    color: #444;
    text-decoration: none !important;
    display: inline-block;
    vertical-align: middle;
    text-shadow: 0 1px 0 hsla(0,0%,100%,.75);
    
    /*padding: 8px 11px 10px;*/
    padding: 4px 7px 6px;
    
    background-color: #fff;
    background-image: linear-gradient(hsla(0,0%,100%,.03),rgba(0,0,0,.03));
    border: 1px solid #c7c7c7;
        border-top-color: rgb(199, 199, 199);
        border-right-color: rgb(199, 199, 199);
        border-bottom-color: rgb(199, 199, 199);
        border-left-color: rgb(199, 199, 199);
    border-bottom-color: #bdbdbd;
    border-top-color: #d3d3d3;
    box-shadow: inset 0 -4px 5px 0 rgba(0,0,0,.05),inset 0 2px 0 0 hsla(0,0%,100%,.8),0 1px 1px rgba(0,0,0,.06);
    border-radius: 4px;
    cursor: pointer;
    font-style: inherit;
    font-weight: 700;
    font-family: Helvetica Neue,Arial,Verdana,sans-serif;
    transition: background-color .2s ease;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.button, button {
    cursor: pointer;
    *overflow: visible;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-clip: padding-box;
}

.modal button.primary {
    background-color: #6aae53;
    background-image: linear-gradient(rgba(71,148,56,0),#428f33);
    border-color: #4e9340;
    border-top-color: rgb(78, 147, 64);
    border-bottom-color: rgb(78, 147, 64);
    border-top-color: #579f4a;
    border-bottom-color: #327527;
    box-shadow: inset 0 1px 2px 0 hsla(0,0%,100%,.15),0 1px 1px rgba(0,0,0,.2),0 2px 1px rgba(0,0,0,.05);
    color: #fefefe;
    text-shadow: 0 1px 1px #488739,0 0 5px hsla(0,0%,100%,0);
    -webkit-font-smoothing: antialiased;
    background-clip: padding-box;
}


article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}

.modal h1 {
    font-size: 18px;
    padding: 0;
    padding-bottom: 0px;
    padding-bottom: 0px;
    margin: 0;
    line-height: 1.3;
    padding-bottom: 7px;
    margin-top: -0.8px;
}

.modal h2 {
    font-size: 13px;
    font-weight: 500;
    padding: 0;
    padding-bottom: 0px;
    padding-bottom: 0px;
    margin: 0;
    margin-top: 0px;
    margin-top: 0px;
    padding-bottom: 9px;
    color: #666;
    margin-top: -0.5px;
}

.container .p, .container p, .modal .p, .modal p {
    margin: 0;
    margin-top: 0px;
    padding: 0;
    margin-top: 9px;
    position: relative;
}
.container, .container *, .modal, .modal * {
    box-sizing: border-box;
}
.modal > .inner {
    padding: 18px 26px;
        padding-bottom: 18px;
    padding-bottom: 23px;
    background-color: #fcfcfc;
    border-radius: 5px;
    box-shadow: inset 0 -2px 2px rgba(0,0,0,.15),inset 0 2px 2px #fff,inset -1px 0 2px rgba(0,0,0,.05),inset 1px 0 2px rgba(0,0,0,.05);
}

header .ko-header {
    display: block;
    line-height: 1.4 !important;
}
