.site-header {
    font-family: Helvetica, sans-serif;
    font-size: 15px; 
	/*width: 46.5%;*/
	max-width: 25rem;
	margin: 0 auto;
	padding-bottom: 10px;
	padding-left: 25px;
	padding-right: 25px;
	border-bottom: 1px solid #000000;
}

input[type=button] {
  background-color: white;
  padding-bottom: 2px;
  border-radius: 4px;
  border-color: #888;
}

input[type=button]:focus {outline:0;}

input[type=button]:focus, textarea:focus {
 color: red;
 border: 1px solid red;
}

input[type=button]:hover {
  /*background-color: #f8f8f8;*/
  /*border-color: red;*/
  color: red;

}

input[type=checkbox]:focus {outline:0;}
input[type=checkbox]:focus, textarea:focus {
 background-color: white;
 color: red;
 border: 1px solid red;
}

input[type=checkbox] {
    background-color: red;
}

ul.nav-menu, div.nav-menu > ul {
    position: relative;
    margin: 0;
    padding-right: 0px;
    padding-left: 0px;
}

nav ul, nav ol {
    list-style: none;
    list-style-image: none;
}

.nav-menu li {
    display: inline-block;
    position: relative;
    right: 0px;
}

.nav-menu li a {
    color: #141412;
    font-size: 15px;
    line-height: 1;
    padding-left:0px;
    padding-right: 10px;
    text-decoration: none;
    letter-spacing: 0.1px;
}

.nav-menu li a:hover {
	color: red;
}

.nav-menu ul .right {
    position: absolute;
    padding-left: 10px;
    right: 0px;
}

.app
{
    /*font-family: Lucida Sans Unicode, Verdana, Arial, Geneva, Sans-Serif;*/
    font-family: Helvetica, sans-serif;
    font-size: 15px; 
	/*width: 400px;*/
	max-width: 25rem;
	/*margin:30px auto 0 auto;*/
	margin: 0 auto;
	margin-top: 30px;
	padding:25px;
	border:1px solid black;
}

.boldTitle
{
	font-weight: bold;
	font-size:14px;
}

.boldSubtitle
{
	font-weight: bold;
}

.midiMessagesTable
{
	font-size: 14px;
	margin-left:auto;
	margin-right:auto;
}

.left
{
	text-align:left;
    width: 36%;
}

.synthSelect
{
    /*font-size: 11px;*/
    /*width: 300px;*/
    display: block;
    font-size: 14px;
    height:24px;
    width: 320px;
}



select {
    background-color: white;
    -webkit-border-radius: 2px;	
    border-radius: 2px;
    font-size: 14px;
    /*width: 320px;*/
    max-width: 16rem;
}

select:focus {outline:0;}

select:focus, textarea:focus {
    background-color: white;
    color: red;
    border: 1px solid red;
}

select:hover {
  /*background-color: #f8f8f8;*/
  /*border-color: red;*/
  color: red;
  cursor: pointer;
}

.synthtitle {

    width:100%;

}

.sf2OriginSelect
{
    font-size: 14px; 
    /*width: 160px;*/
    margin-left: 0; 
}

.sf2Select
{
    /*font-size: 11px;*/ 
    /*width: 135px;*/
    margin-left: 0;
    width:100%; 
}

.presetSelect
{
    /*font-size: 11px;*/
    font-size: 13px; 
    /*width: 190px;*/
	/*height:18px;*/
    margin-left: 0;
}

.valueSelector
{
    font-size: 11px; 
    width: 45px;
    margin-left: 0;
	margin-right: 4px;
}

.number
{
	text-align: center;
    width: 41px;
    margin-left: 0;
	margin-right: 4px;
	font-size: 12px;
}

.sendAgainButton
{
    font-size: 15px;
	/*height:18px;*/
	cursor: pointer;
}

.sendButton
{
    font-size: 15px;
	/*height:18px;*/
	/*width:45px;*/
	padding-bottom: 2px;
	cursor: pointer;
}

.smltxt
{
    font-size:15px;
    /*margin-left: 4px;*/
}

.smallButton
{
    font-size:15px;
	/*height:22px;*/
	/*width: 60px;*/
	cursor: pointer;
}

.largeButton
{
	font-size:15px;
	width:69px;
	cursor: pointer;
}

#warning-message {
    font-family: Helvetica, sans-serif;
    text-align: center;
    margin-top: 2rem;
    font-size: 15px;
    color: red;

}