@font-face {
  font-family: 'SupriaSans';
  src: url('SupriaSans-Black.eot');
  src: url('SupriaSans-Black.eot?#iefix') format('embedded-opentype'),
       url('SupriaSans-Black.woff2') format('woff2'),
       url('SupriaSans-Black.woff') format('woff'),
       url('SupriaSans-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'SupriaSans';
  src: url('SupriaSans-Bold.eot');
  src: url('SupriaSans-Bold.eot?#iefix') format('embedded-opentype'),
       url('SupriaSans-Bold.woff2') format('woff2'),
       url('SupriaSans-Bold.woff') format('woff'),
       url('SupriaSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'SupriaSans';
  src: url('SupriaSans-Medium.eot');
  src: url('SupriaSans-Medium.eot?#iefix') format('embedded-opentype'),
       url('SupriaSans-Medium.woff2') format('woff2'),
       url('SupriaSans-Medium.woff') format('woff'),
       url('SupriaSans-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSans';
  src: url('MuseoSans-900.eot');
  src: url('MuseoSans-900.eot?#iefix') format('embedded-opentype'),
       url('MuseoSans-900.woff2') format('woff2'),
       url('MuseoSans-900.woff') format('woff'),
       url('MuseoSans-900.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSans';
  src: url('MuseoSans-700.eot');
  src: url('MuseoSans-700.eot?#iefix') format('embedded-opentype'),
       url('MuseoSans-700.woff2') format('woff2'),
       url('MuseoSans-700.woff') format('woff'),
       url('MuseoSans-700.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSans';
  src: url('MuseoSans-500.eot');
  src: url('MuseoSans-500.eot?#iefix') format('embedded-opentype'),
       url('MuseoSans-500.woff2') format('woff2'),
       url('MuseoSans-500.woff') format('woff'),
       url('MuseoSans-500.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'AvenirNextLTW01Bold';
    src: url('avenir-next-bold.eot');
    src: url('avenir-next-bold.eot') format('embedded-opentype'),
         url('avenir-next-bold.woff') format('woff'),
         url('avenir-next-bold.ttf') format('truetype'),
         url('avenir-next-bold.svg#AvenirNextLTW01BoldRegular') format('svg');
}
@font-face {
    font-family: 'AvenirNextLTW01Regular';
    src: url('avenir-next-regular.eot');
    src: url('avenir-next-regular.eot') format('embedded-opentype'),
         url('avenir-next-regular.woff') format('woff'),
         url('avenir-next-regular.ttf') format('truetype'),
         url('avenir-next-regular.svg#AvenirNextLTW01RegularRegular') format('svg');
}